@use "./main.scss";
@use "./mixin/media_queries" as mq;

// Primary colors
$Orange: hsl(25, 97%, 53%);

// Neutral colors
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);

$font: 15px;
$font-family: "Overpass", sans-serif;
$weight-1: 400;
$weight-2: 700;

